---
import SectionContainer from "@/components/SectionContainer.astro";
import VsCode from "@/components/icons/VsCode.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Extension | Nicodev | Porfolio"
  description="Extension de visual studio code para mejorar tus tiempos de desarrollo y facilitar tu trabajo rutinario"
>
  <header class="w-full flex px-4 pt-5 gap-2">
    <span
      class="bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded-full p-1 flex items-center w-16 justify-center"
    >
      <VsCode class="w-6 h-6" transition:name="vscode" />
    </span>
    <h1 class="text-white text-3xl" transition:name="extencion">Extension</h1>
  </header>
  <main class="max-w-[1200px] mx-auto">
    <SectionContainer class="relative place-content-start mt-5">
      <article
        id="projects"
        class="flex animate-fade-up flex-col backdrop-blur-sm p-1 bg-gray-600 items-start min-w-full rounded-xl"
      >
        <video
          autoplay
          loop
          muted
          playsinline
          id="main-video"
          preload="metadata"
          class="video object-cover object-left-top aspect-[52/48] w-80 place-self-start rounded-xl"
        >
          <source
            src="/media/quickSelector.mp4"
            type="video/mp4"
            class="cp-v"
          />
        </video>
        <div class="w-full px-2">
          <div class="flex items-center justify-between w-full">
            <h2 class="text-3xl font-cascadia my-3 animate-fade text-[#b9fd4b]">
              Quick Selector
            </h2>
            <img
              id="avatar"
              src="/quickSelector.webp"
              class="w-10 object-cover object-size aspect-square object-center h-10 animate-fade rounded-full"
              alt="avatar extension quick selector"
            />
          </div>
          <p class="text-balance text-base opacity-85 py-2 pb-4">
            Quick Selector is a <span class="text-[#fffb52]"
              >Visual Studio Code extension</span
            > that provides tools to ease your programming workflow. Simply select
            the code for which you want to <span class="text-[#fffb52]"
              >generate CSS selectors in your HTML file.</span
            >
            Then, access the class creator using Ctrl + Shift + P, type 'Generate
            CSS', and voila! You'll have <span class="text-[#fffb52]">
              all your CSS selectors in the clipboard</span
            >
            ready to paste into your .css file
          </p>
        </div>
      </article>
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
