---
import SectionContainer from "@/components/SectionContainer.astro";
import Develop from "@/components/icons/Develop.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Extension | Nicodev | Porfolio"
  description="Extension de visual studio code para mejorar tus tiempos de desarrollo y facilitar tu trabajo rutinario"
>
  <header class="w-full flex px-4 pt-5 gap-2">
    <span
      class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-full p-1 flex items-center w-16 justify-center"
    >
      <Develop class="w-6 h-6 text-white" />
    </span>
    <h1 class="text-white text-3xl" transition:name="projects">Projects</h1>
  </header>
  <main class="max-w-[1200px] mx-auto">
    <SectionContainer class="relative place-content-start mt-5">
      <header>
        <h2 class="opacity-70">Technical tests</h2>
      </header>
      <article class="flex flex-col bg-gray-600">
        <header>
          <h3>Shopping cart</h3>
          <picture>
            <source srcset="/shopping-cart.png" media="(max-width: 767px)" />
            <img
              src="/shopping-cart.png"
              alt="image shopping cart"
              class="w-full"
            />
          </picture>
        </header>
      </article>
    </SectionContainer>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
