---
import TitleSection from "./TitleSection.astro";
import About from "./icons/About.astro";
import CartAboutMe from "./CartAboutMe.astro";
import { readdir } from "node:fs/promises";
import path from "node:path";
import { cwd } from "node:process";
const folder = path.join(cwd(), "public", "icons");
const icons = await readdir(folder);
---

<TitleSection>
  <span>
    <About />
  </span>
  About Me
</TitleSection>

<!-- about me for mobile -->
<article
  id="aboutMe"
  class="md:hidden flex flex-col my-16 gap-5 md:gap-3 place-self-start rounded-xl bg-gray-500/55 p-3"
>
  <p class="text-balance text-base opacity-80 max-w-3/4">
    I love
    <span class="text-[#b9fd4b] font-cascadia">
      building modern and scalable web applications,
    </span> that provide an excellent user experience.
  </p>
  <p class="text-balance text-base opacity-80 max-w-3/4">
    On the frontend, I work with technologies such as
    <span class="text-[#b9fd4b] font-cascadia">TypeScript</span> and
    <span class="text-[#b9fd4b] font-cascadia">JavaScript</span>, using
    frameworks like
    <span class="text-[#b9fd4b] font-cascadia">Next.js</span>,
    <span class="text-[#b9fd4b] font-cascadia">Angular</span> and
    <span class="text-[#b9fd4b] font-cascadia">Web Components</span>.
    Additionally, I have experience with
    <span class="text-[#b9fd4b] font-cascadia">Astro</span>, an exciting new way
    to create ultra-fast websites and universal components.
  </p>

  <p class="text-balance text-base opacity-80 max-w-3/4">
    On the backend, I have worked with
    <span class="text-[#b9fd4b] font-cascadia">Node.js</span>
    and
    <span class="text-[#b9fd4b] font-cascadia">Java</span>, using frameworks
    like
    <span class="text-[#b9fd4b] font-cascadia">Express</span>,
    <span class="text-[#b9fd4b] font-cascadia">Spring Boot</span> to build APIs.
    I also specialize in designing and developing databases using
    <span class="text-[#b9fd4b] font-cascadia">SQL</span> and <span
      class="text-[#b9fd4b] font-cascadia">NoSQL</span
    >, such as MySQL and MongoDB, and I am familiar with object-relational
    mapping (ORM) tools like
    <span class="text-[#b9fd4b] font-cascadia">Hibernate</span>.
  </p>
</article>

<!-- about me for desktop -->
<article
  class="hidden h-dvh mt-12 md:grid md:grid-cols-3 md:gap-2 md:gap-y-16 place-content-center items-start"
>
  <CartAboutMe>
    <svg
      slot="icon"
      class="border-white border-2 rounded-full p-2"
      width="60"
      height="60"
      fill="none"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M17.754 14a2.249 2.249 0 0 1 2.25 2.249v.918a2.75 2.75 0 0 1-.513 1.599C17.945 20.929 15.42 22 12 22c-3.422 0-5.945-1.072-7.487-3.237a2.75 2.75 0 0 1-.51-1.595v-.92a2.249 2.249 0 0 1 2.249-2.25h11.501ZM12 2.004a5 5 0 1 1 0 10 5 5 0 0 1 0-10Z"
        fill="#ffffff"></path>
    </svg>
    <div slot="content" class="text-center">
      <p>
        Hi there! I'm
        <span class="text-[#b9fd4b] font-cascadia">Nicolás Carobene</span>
        , but my friends call me Nico 😎.
      </p>
      <p>I am an Argentine living in Madrid, Spain.</p>
    </div>
  </CartAboutMe>
  <CartAboutMe class="item1">
    <svg
      slot="icon"
      class="border-white border-2 rounded-full p-2"
      width="60"
      height="60"
      fill="none"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M5 17.75v-3.766l4.06 2.653a5.375 5.375 0 0 0 5.88 0L19 13.984v3.766a.75.75 0 0 1-.15.45l-.001.001-.001.002-.003.004-.009.01-.012.016-.013.017-.086.101a5.325 5.325 0 0 1-.317.33c-.277.267-.69.614-1.25.958C16.037 20.329 14.339 21 12 21c-2.339 0-4.036-.67-5.159-1.361a7.433 7.433 0 0 1-1.25-.957 5.313 5.313 0 0 1-.427-.464l-.009-.01-.003-.005v-.002A.755.755 0 0 1 5 17.75Z"
        fill="#ffffff"></path><path
        d="m22.16 10.128-8.04 5.253a3.875 3.875 0 0 1-4.24 0L3 10.886v5.364a.75.75 0 0 1-1.5 0V10c0-.088.015-.172.043-.25a.75.75 0 0 1 .302-.881l8.064-5.17a3.875 3.875 0 0 1 4.182 0l8.064 5.17a.75.75 0 0 1 .005 1.259Z"
        fill="#ffffff"></path></svg
    >
    <div slot="content" class="text-center">
      <p>I'm dentist but I also developer.</p>
      <p>
        My journey into programming began when I decided to create a website for
        my dental clinic. From that moment on, I was hooked.
      </p>
      <p>
        <span class="text-[#b9fd4b] font-cascadia">¡I love it!</span>.
      </p>
    </div>
  </CartAboutMe>
  <CartAboutMe class="item2">
    <svg
      slot="icon"
      class="border-white border-2 rounded-full p-2"
      width="60"
      height="60"
      fill="none"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M17.754 14a2.249 2.249 0 0 1 2.25 2.249v.918a2.75 2.75 0 0 1-.513 1.599C17.945 20.929 15.42 22 12 22c-3.422 0-5.945-1.072-7.487-3.237a2.75 2.75 0 0 1-.51-1.595v-.92a2.249 2.249 0 0 1 2.249-2.25h11.501ZM12 2.004a5 5 0 1 1 0 10 5 5 0 0 1 0-10Z"
        fill="#ffffff"></path>
    </svg>
    <p slot="content" class="text-center">
      The excitement of
      <span class="text-[#b9fd4b] font-cascadia">
        creating elegant solutions for complex problems
      </span>
      captured my imagination, and I haven't looked back since.
    </p>
  </CartAboutMe>
  <CartAboutMe class="item1" row>
    <img
      src="/app.svg"
      alt="icon about my projects"
      slot="icon"
      width="60"
      height="60"
      class="border-white border-2 rounded-full p-2"
    />
    <p slot="content" class="text-balance">
      Beyond my technical skills, I take pride in my ability to
      <span class="text-[#b9fd4b] font-cascadia">
        communicate effectively and collaborate seamlessly with teams of all
        sizes</span
      >. My dedication to continuous learning and growth ensures that I stay
      abreast of trends in an ever-evolving industry.
    </p>
  </CartAboutMe>
</article>
