---
import TitleSection from "./TitleSection.astro";
import About from "./icons/About.astro";
---

<TitleSection>
  <span>
    <About />
  </span>
  About Me
</TitleSection>
<article
  id="aboutMe"
  class="grid place-content-center gap-4 min-w-full rounded-xl bg-gray-500/55 p-3"
>
  <p class="text-balance text-lg opacity-85">
    I'm a passionate programmer with experience in web development using
    technologies such as
    <span class="text-[#b9fd4b]">React</span>,
    <span class="text-[#b9fd4b]">Angular</span>,
    <span class="text-[#b9fd4b]">TypeScript</span>,
    <span class="text-[#b9fd4b]">Node</span>,

    <span class="text-[#b9fd4b]">MySQL</span>,
    <span class="text-[#b9fd4b]">MongoDB</span>
    and another tegnologies.
  </p>
  <p class="text-balance text-lg opacity-85">
    I have worked on end-to-end web application development, using agile
    methodologies and software development practices. I love learning new
    technologies and taking on new challenges, which has helped me develop
    skills in problem-solving and effective communication with my team.
  </p>
  <p class="text-balance text-lg opacity-85">
    If you're looking for a dedicated programmer with strong technical skills
    and a results-oriented approach, don't hesitate to contact me.
  </p>
</article>
