---
import TitleSection from "./TitleSection.astro";
import About from "./icons/About.astro";
---

<TitleSection>
  <span>
    <About />
  </span>
  About Me
</TitleSection>
<article
  id="aboutMe"
  class="flex flex-col my-16 gap-5 md:gap-3 place-self-start rounded-xl bg-gray-500/55 p-3"
>
  <p class="text-balance text-base opacity-80 max-w-3/4">
    I love
    <span class="text-[#b9fd4b] font-cascadia">
      building modern and scalable web applications,
    </span> that provide an excellent user experience.
  </p>
  <p class="text-balance text-base opacity-80 max-w-3/4">
    On the frontend, I work with technologies such as
    <span class="text-[#b9fd4b] font-cascadia">TypeScript</span> and
    <span class="text-[#b9fd4b] font-cascadia">JavaScript</span>, using
    frameworks like
    <span class="text-[#b9fd4b] font-cascadia">Next.js</span>,
    <span class="text-[#b9fd4b] font-cascadia">Angular</span> and
    <span class="text-[#b9fd4b] font-cascadia">Web Components</span>.
    Additionally, I have experience with
    <span class="text-[#b9fd4b] font-cascadia">Astro</span>, an exciting new way
    to create ultra-fast websites and universal components.
  </p>

  <p class="text-balance text-base opacity-80 max-w-3/4">
    On the backend, I have worked with
    <span class="text-[#b9fd4b] font-cascadia">Node.js</span>
    and
    <span class="text-[#b9fd4b] font-cascadia">Java</span>, using frameworks
    like
    <span class="text-[#b9fd4b] font-cascadia">Express</span>,
    <span class="text-[#b9fd4b] font-cascadia">Spring Boot</span> to build APIs.
    I also specialize in designing and developing databases using
    <span class="text-[#b9fd4b] font-cascadia">SQL</span> and <span
      class="text-[#b9fd4b] font-cascadia">NoSQL</span
    >, such as MySQL and MongoDB, and I am familiar with object-relational
    mapping (ORM) tools like
    <span class="text-[#b9fd4b] font-cascadia">Hibernate</span>.
  </p>
</article>
