<a
  href=""
  class="flex items-center self-center any-hover:scale-105 any-hover:opacity-90 motion-safe:transition motion-reduce:any-hover:scale-100"
>
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#b700ff82_0%,#d0ff96_50%,#b5fd5b_100%)]"
    ></span>
    <div
      class="font-cascadia inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      Available to work
    </div>
  </span>
</a>
