---
import ThemeToggle from "./ThemeToggle.astro";
import HeaderLink from "./HeaderLink.astro";
import LanguageSelector from "./LanguageSelector.astro";

import { getI18N } from "@/i18n";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class="fixed top-2 left-2 z-20 flex items-start justify-start md:justify-center w-full mx-auto mt-2"
>
  <button
    id="menuToggle"
    class="mt-1 md:hidden md:invisible flex flex-col gap-1 select-none ml-2 size-8 *:rounded-lg *:w-7 *:h-1 *:bg-[#b9fd4b]"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav
    id="navigator"
    class="dark:text-gray-200 z-30 hidden md:flex md:px-3 text-sm font-medium rounded-md -mt-1 ml-1 md:ml-0 md:mt-0 md:rounded-full px-3 md:bg-transparent py-2 md:py-0 backdrop-blur-sm"
  >
    <ul
      class="flex md:flex flex-col md:flex-row gap-2 md:gap-3 justify-center items-start md:items-center"
    >
      <!-- <HeaderLink class="text__glowing" href="#">
        {t("nav.expirience")}
      </HeaderLink> -->
      <HeaderLink class="text__glowing" href="/#projects">
        {t("nav.projects")}
      </HeaderLink>
      <HeaderLink class="text__glowing" href="/#aboutMe">
        {t("nav.aboutMe")}
      </HeaderLink>
      <HeaderLink class="text__glowing" href="/#contact">
        {t("nav.contact")}
      </HeaderLink>
      <ThemeToggle />
      <LanguageSelector />
    </ul>
  </nav>
</header>

<script is:inline>
  const $button = document.getElementById("menuToggle");
  const $nav = document.getElementById("navigator");
  let navOpen = false;
  if ($button && $nav) {
    $button.addEventListener("click", () => {
      const widthDevice = window.matchMedia("(max-width: 768px)");
      widthDevice.matches ? $nav.classList.toggle("hidden") : null;
      $button.classList.toggle("open");
    });
  }
</script>

<style>
  .text__glowing {
    transition: text-shadow 0.3s ease;
  }

  .text__glowing:hover {
    text-shadow: 1px 1px 20px #65ff0f;
  }

  #navigator {
    animation: nav-shadown linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  #menuToggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  #menuToggle span {
    position: relative;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #menuToggle span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #menuToggle span:nth-child(2) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #menuToggle span:nth-child(3) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #menuToggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    @apply rotate-45;
  }

  #menuToggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #menuToggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    @apply mt-1 -rotate-45;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 bg-gray-900 border-gray-500/20  ring-white/10;
    }
  }
</style>
