---
interface Props {
  href: string;
  class?: string;
}

const { href, class: classList } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class=`${classList} inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100`
>
  <slot />
</a>
