---
import TitleSection from "./TitleSection.astro";
import { readdir } from "node:fs/promises";
import path from "node:path";
import { cwd } from "node:process";
const folder = path.join(cwd(), "public", "icons");
const icons = await readdir(folder);
---

<article class="relative w-full flex flex-col gap-4 z-20 overflow-x-hidden">
  <h3>Check my skills</h3>
  <ul class="flex gap-5 marquee flex-shrink-0 relative">
    {
      icons.map((icon) => (
        <li class="hover:grayscale-0 grayscale transition cursor-pointer">
          <img
            src={`/icons/${icon}`}
            class="aspect-square  min-w-16 min-h-16"
            alt={`logo ${icon.split(".")[0]}`}
          />
        </li>
      ))
    }
  </ul>
</article>
<script is:inline>
  const marquee = document.querySelector(".marquee");
  const marqueeList = marquee?.querySelectorAll("li");
  if (marquee && marqueeList) {
    marqueeList.forEach((item) => {
      const clone = item.cloneNode(true);
      marquee.appendChild(clone);
    });
  }
</script>
<style>
  .marquee {
    animation: marquee 20s linear infinite;
  }
  .marquee li {
    width: -webkit-fill-available;
  }
  .marquee:hover {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
