---
import VsCode from "./icons/VsCode.astro";
import CardProject from "./CardProject.astro";
import Develop from "./icons/Develop.astro";
import TitleSection from "./TitleSection.astro";
import CardGrid from "./CardGrid.astro";
import Github from "./icons/Github.astro";
import Marquee from "./Marquee.astro";
---

<TitleSection notVisible>
  <span class="bg-gray-500 rounded-full p-1">
    <Develop class="w-6 h-6" />
  </span>Projects
</TitleSection>
<article
  id="projects"
  class="md:hidden grid auto-rows-[140px] grid-cols-1 md:grid-cols-3 backdrop-blur-sm bg-black/40 min-w-full rounded-xl"
>
  <CardProject
    title="Extension"
    class="from-violet-500 to-fuchsia-500"
    href="/extend"
    nameTransition="extencion"
  >
    <VsCode transition:name="vscode" slot="icon" class="w-6 h-6" />
  </CardProject>

  <CardProject
    title="Projects"
    class="from-blue-500 to-purple-500"
    nameTransition="projects"
    href="/projects"
  >
    <Develop slot="icon" class="w-6 h-6" />
  </CardProject>

  <CardProject
    title="Video Games"
    class="from-rose-500 to-orange-500"
    nameTransition="998989"
  >
    <picture slot="icon">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-8 h-8 z-10" />
    </picture>
  </CardProject>
</article>
<article
  class="m-auto hidden md:grid gap-4 place-content-center *:bg-black/50 *:backdrop-blur-sm grid-cols-[repeat(4,minmax(180px,1fr))] grid-rows-[repeat(3,minmax(180px,1fr))] py-10 *:rounded-xl"
>
  <CardGrid
    title="VideoGames"
    id="videoGames"
    itemStart
    class:list={"from-blue-500 to-purple-500"}
  >
    <picture slot="icon">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-6 h-6" />
    </picture>
  </CardGrid>
  <CardGrid title="Feria libro" id="feriaLibro">
    <span slot="icon">📚</span>
  </CardGrid>
  <CardGrid id="grid-extencion" title="Extension" class="col-span-2">
    <VsCode transition:name="vscode" slot="icon" class="w-6 h-6" />
  </CardGrid>
  <CardGrid id="test" title="Skills Test" class="row-span-2">
    <Develop class="w-8 h-8 bg-sky-600 p-1 rounded-full" slot="icon" />
  </CardGrid>

  <a
    href="https://github.com/nicocarobene?tab=repositories"
    target="_blank"
    rel="noopener noreferrer"
    class="col-span-2 flex justify-center items-center gap-3 bg-gradient-to-r from-blue-500/75 to-purple-500/75 overflow-hidden cursor-pointer"
  >
    <div
      class="text-white flex items-center justify-center gap-3 hover:rotate-6 hover:scale-110 transition w-full h-full"
    >
      <Github class="w-10 h-10 text-white" />
      <h2 class="text-3xl font-cascadia">Projects</h2>
    </div>
  </a>
  <CardGrid title="VideoGames" id="videoGames" itemStart>
    <picture slot="icon">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-6 h-6" />
    </picture>
  </CardGrid>
  <CardGrid id="shpping-card" title="Shopping Card" class="col-span-2">
    <VsCode transition:name="vscode" slot="icon" class="w-6 h-6" />
  </CardGrid>
  <CardGrid title="VideoGames" id="videoGames" itemStart>
    <picture slot="icon">
      <source
        srcset="/projects/gamesMobile.avif"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <img src="/projects/games.png" alt="video games" class="w-6 h-6" />
    </picture>
  </CardGrid>
</article>
