---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} grid place-content-center items-center w-full h-dvh mx-auto container lg:max-w-4xl md:max-w-2xl`}
>
  <slot />
</section>
